<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host</key>
	<string>https://s3.eu-north-1.amazonaws.com</string>
	<key>bucket</key>
	<string>/com.hdmdmm.s3.bucket.egnyte.test</string>
</dict>
</plist>
